<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oymotion.gforceprofiledemo">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <uses-feature
        android:name="android.bluetooth.le"
        android:required="true" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GForceProfileDemo">
        <activity android:name=".EndActivity"></activity>
        <activity android:name=".ImagePickerActivity" />
        <activity android:name=".InstructionActivity" />
        <activity android:name=".test2" />
        <activity android:name=".SurveyActivity" />
        <activity android:name=".SurveyEnjoymentActivity" />
        <activity android:name=".InteractionActivity" />
        <activity android:name=".SetupDevicesActivity" />
        <activity
            android:name=".ProjectListActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.GForceProfileDemo.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ScanDevicesActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".DeviceActivity" />
        <activity android:name=".ExperimentSettingMenuActivity" />
        <activity android:name=".ExperimentSettingActivity" android:label="Experiment Setting" />
        <activity android:name=".ParticipantManageActivity" android:label="Manage Participants" />
        <activity android:name=".EditPropertiesActivity" android:label="Manage Properties" />
        <activity android:name=".EditOpenQuestionsActivity" android:label="Manage Question" />
        <activity android:name=".LoginActivity" android:label="LogIn" />
        <activity android:name=".LoginAsResearcherActivity" android:label="Researcher Login" />
    </application>

</manifest>